body{
    background: linear-gradient(135deg, #7a43d3, #6600ff, #c4ba35);

}


nav{
    background-color: black !important;
    padding-bottom: 15px;
 
}


.dashboad{
    display: flex;
    
}
.dashboad a {
    text-decoration: none;
    color: white;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.dashboad a:hover{
    color: goldenrod;
}
.img{
    border-radius: 30px;
    
}
hr{
    color: white;
}

.textcolor{
    color: rgb(240, 204, 4);
}
.brandname{
    position: relative;
    top: 30px;
    left: 5px;
}


