body{
    background-color: rgb(3, 22, 48);
    

}

.slide{
    height: 30%;
    width: 390px;
    background-color: rgb(94, 23, 128);
    color: white;
    border-radius: 10px;
}




.img{
    border-radius: 30px;
    
}
hr{
    color: white;
}

.textcolor{
    color: rgb(240, 204, 4);
}
.brandname{
    position: relative;
    top: 30px;
    left: 5px;
}


.cardsimg{
    width: 100%;
    display: flex;
    margin: auto;
}
.col-sm-3 {
    width: 10%;
}
@media (max-width:760px){
    .col-sm-3 {
        width: 25%;
    }
}
@media (max-width:860){
    .col-sm-3 {
        width: 25%;
    }
}
.boot{
    position: relative;
    top: 10px;
}

.container-ul {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    
}

.col-sm-4 a{
    text-decoration: none;
    color: black;
}

.left{
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}
.right{
    opacity: 0;
    filter: blur(5px);
    transform: translate(50%);
    transition: all 1s;
}
.revealing{
    opacity: 1;
    filter: blur(0);
    transform: translate(0%);

}